div.header {
	text-align: center;
	background-color: white;
}
div.container {
	background-color: lavender;
	max-width: 1024px;
	height: 1024px;
	margin: auto;

}
div.navigationbar {
	background-color: black;
	color: white;
	max-width: 100%;
	max-height: 100px;
}
div.contentarea {
	background-color: gray;
	height: 300px;
	margin: auto;
}
div.emailbanner {
	background-color: #007095;
	height: 100px;
	margin: auto;
}
div.footer {
	background-color: #f2f2f2;
	border-style: solid;
	border-color: #d8d8d8;
	height: 100px;
	margin: auto;
	border-width: 1px;

}
